@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.menu
    margin-top: -100px
    margin-bottom: -200px
    animation: slideInHeader 0.7s ease-out
    position: relative
    text-align: center
    border-radius: 11px
    padding: 25px
    padding-bottom: 100px
    background-attachment: fixed
    h2
        min-width: 100vh
    h3
        font-size: 30px
    &__content
        width: 100%
        display: flex
        justify-content: center
        &--left
            text-align: left
            width: 50%
        &--right
            display: flex
            text-align: center
            h3
                width: 100px
#border
    h3
        width: 90px
        margin: 5px
        border-bottom: 5px solid $color10

@keyframes slideInHeader
    0%,20%
        opacity: 0
        transform: scale(97%) translate(0%,-0%)

.menuPage
    background: url("../../Assets/Images/bgstar.png")
