@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.stat
    width: 100%
    background-color: $color3
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    &__block
        margin: 60px
        text-align: center
        width: 350px
        p
            color: $color5
        h2
            font-size: 36px
