@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.block
    $size: 250px
    padding-top: $size
    padding-bottom: $size
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.width
    margin: auto
    max-width: 1500px

#menu
    @media (max-width: 991.98px)
        display: block
