@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.block
    min-height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.width
    max-width: 90%
    margin: auto
