$size: 35px

.information
    display: flex
    justify-content: space-between
    position: relative
    width: 100%
    &__left
        margin-right: $size
        display: flex
        justify-content: center
        align-items: center
        width: 50%
        overflow: hidden
    &__right
        margin-left: $size
        display: flex
        justify-content: center
        align-items: left
        flex-direction: column
        width: 50%
        h2
            margin: 0
        p
            margin-bottom: 25px
            padding-right: 10%
