@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.contact
    border-radius: 11px
    background-color: $color2
    padding: 35px
    display: flex
    justify-content: center
    align-items: center
    width: fit-content
    $size: 50px
    min-width: 50%
    margin: $size auto $size auto
    img
        display: flex
        justify-content: center
        align-items: center
        height: 256px
    h2
        margin: 0
        color: $color4
        margin-bottom: -30px
    input
        padding: 10px
        border-radius: 11px
        border: 0
    &:active
        input
            border: 1px solid #color1
