@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.center
    text-align: center
    background: url("../../Assets/Images/bgstar.png")
    background-position: center
    background-attachment: fixed
    width: 100%
    padding: 50px
    animation: slideInHeader 0.7s ease-out

#hea
    padding: 70px 0
    position: relative
    min-height: 100vh
    background: url("../../Assets/Images/header.png")
    background-size: cover
    background-position: center
    background-attachment: fixed
    p
        margin: -15px auto 15px auto
        width: 60%
        font-size: 25px
    h1
        color: $headerColor
    h2
        color: $color4
    h2,h1
        line-height: 100%
        padding: 10px
        font-size: 6.5vw
    @media (max-width: 991.98px)
        .center
            padding: 10px
        h2,h1
            font-size: 13vw
        p
            width: 100%
@keyframes slideInHeader
    0%,20%
        opacity: 0
        transform: scale(97%) translate(0%,-0%)
