.gallery
    padding: 75px
    border-radius: 11px
    background: linear-gradient(180deg, #F4E5DA 0%, #F9FAFB 100%)
    display: grid
    // max-width: 70%
    text-align: center
    img
        width: 33.3%
        padding: 30px

        // margin: 30%
