@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.gallery
    position: relative
    width: 100%
    border-radius: 11px
    width: 100%
    display: flex
    background: url("../../Assets/Images/coffe.jpg")
    background-attachment: fixed
    background-position: center
    flex-wrap: wrap
    img
        width: 33.3%
        padding: 30px
        transition: 0.2s linear
        border: 0px solid $headerColor
        &:hover
            backdrop-filter: blur(10px)
            transform: scale(98%)
            border: 10px solid $headerColor
    @media (max-width: 991.98px)
        img
            padding: 12px
            width: 50%
