.gallery
    padding: 75px
    border-radius: 11px
    background: linear-gradient(180deg, #F4E5DA 0%, #F9FAFB 100%)
    display: grid
    margin: auto
    text-align: center
    img
        width: 33.3%
        padding: 10px
