@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.footer
    background-color: $color3
    width: fit-content
    margin: auto
    display: flex
    flex-wrap: wrap
    justify-content: center
    min-width: 50%
    border-top-left-radius: 11px
    border-top-right-radius: 11px
    &__block
        $size: 25px
        padding: 0 $size 0 $size
        margin: 25px
    h2
        margin: 0
        font-size: 36px
