@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

.footer
    background-color: $color3
    margin: auto
    display: flex
    flex-wrap: wrap
    justify-content: center
    &__block
        padding: 20px
    h2
        margin: 0
        font-size: 36px
    &__width
        margin: auto
        max-width: 1500px
