@import '%PUBLIC_URL%/../src/Assets/Sass/_color.sass'

nav
    animation: slideBot 0.7s ease-out
    z-index: 9999
    border-radius: 11px
    background: rgb($color10, 0.7)
    backdrop-filter: blur(10px)
    position: fixed
    left: 50%
    border-left: 3px solid #00000000
    border-right: 3px solid #00000000
    transform: translate(-50%,50%)
    border-radius: 7px
    backdrop-filter: blur(6px)
    height: 50px
    ul
        position: relative
        padding: 0
        height: 100%
        cursor: pointer
        display: flex
        li
            position: relative
            list-style: none outside none
            font-size: 20px
            &:hover
                a
                    color: $color5
            a
                display: flex
                padding: 5px 8px 5px 8px
                align-items: center
                justify-content: center
                min-height: 100%
                color: $color4
                transition: 0.2s ease-out
                &:active
                    border-radius: 5px
                    background-color: $color5
.indicator
    position: absolute
    bottom: 5%
    border-radius: 5px
    width: 10px
    height: 90%
    background-color: $color1
    z-index: -1
    transition: 0.3s ease-out

@keyframes slideBot
    0%,20%
        opacity: 0
        transform: translate(-50%,-50%)
